/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/



/*--Banner-Part-Starts-Here --*/
.banner {
	position: relative;
}
.banner-1{
	background:url(../images/banner-1.jpg) no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height: 780px;
}
.banner-2{
	background:url(../images/banner-2.jpg) no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height: 780px;
	background-position: center;
}
/*------------------ Slider Part starts Here----------*/
.slider{
	background:url(../images/slide-banner.jpg)no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	min-height:300px;
	background-position: center;
}
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 50%;
	left: 10%;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 68px;
	width: 14px;
	background: transparent url("../images/side-arrows.png") no-repeat left top;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
	left: auto;
	background-position: right top;
	right: 10%;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border-radius:200px;
  -webkit-border-radius:200px;
  -moz-border-radius:200px;
  -o-border-radius:200px;
}
.callbacks_tabs {
	list-style: none;
	position: absolute;
	top: 143%;
	z-index: 999;
	left: 47%;
	padding: 0;
	margin: 0;
	display: block;
}
.slider-top{
	text-align: center;
	margin-bottom:2.5em;
}
.slider-top p.below{
	font-size: 14px;
	color: #fff;
	font-weight: 100;
}
.slider-top h3{
	font-size:20px;
	font-weight:400;
	margin:10px 0px;
	color:#fff;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
.callbacks_tabs li{
	display:inline-block;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:10px;
  width:10px;
  display:inline-block;
  border:2px solid #5a686b;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  background:#5a686b;
  display:none;
}
.callbacks_here a:after{
	border:2px solid #fff;
	background:#fff;
}
ul.callbacks_tabs.callbacks2_tabs {
	display: none;
}
/*--Slider-Part-Ends-Here--*/
.banner-bottom ul{
	padding:0;
}
.banner-bottom ul li{
	display:inline-block;
	list-style:none;
	margin: 0 2em;
}
.banner-bottom ul li a span{
	background:url(../images/social-sprit.png) no-repeat;
	width:67px;
	height:66px;
	display:block;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.banner-bottom ul li a span.twt{
	background-position:0px 0px;
}
.banner-bottom ul li a span.t{
	background-position:-67px 0px;
}
.banner-bottom ul li a span.g{
	background-position:-134px 0px;
}
.banner-bottom ul li a span.twt:hover{
	background-position:0px -66px;
}
.banner-bottom ul li a span.t:hover{
	background-position:-67px -66px;
}
.banner-bottom ul li a span.g:hover{
	background-position:-134px -66px;
}
.banner-bottom {
	background: rgba(60, 50, 73, 0.55);
	width: 100%;
	padding: 3em 0px;
	text-align: center;
	position: absolute;
	z-index: 9;
	top: 78.5%;
}
/*--Banner-Part-Ends-Here --*/
/*--free-starts--*/
.free {
	text-align: center;
	padding: 2em 0px 2em 0px;
}

.free h1 {
	text-align: center;
    font-family: 'gandhi_sansregular';
	color: #2A323A;
    font-size: 1.8em;
    line-height: 1.5em;
	font-weight: 500;
	margin: 0;
}

.free-main {
	text-align:center;
}
.free-main h1 {
	text-align: center;
	color: #412f44;
	font-size: 1.8em;
	font-weight: 500;
	margin: 0;
}
.free-main p {
	font-size: 18px;
	width: 96%;
	font-weight: 500;
	margin: 1em auto 0;
	color: #412f44;
}
.free-main sup{
	top: -1.5em;
	margin: 0 5px;
}
.free-main sub{
	margin: 0 5px;
}
/*--free-ends--*/
/*--portfolio-starts--*/	
.portfolio-top{
	text-align: center;
}
.portfolios {
	padding-bottom: 1.5em;
	position: relative;
}
/*	Strip
/*-----------------------------------------------------------------------------------*/
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-weight: 300;
	overflow:hidden;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	color:#ffffff;
	overflow:hidden;
}
.b-link-stripe .b-line{
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	background:rgba(15, 207, 140, 0.9);
	transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	opacity:0;
	visibility:hidden; /* lt-ie9 */
}
/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;
	font-size:1.1em;
	font-weight:700;
}
.b-animate img{
	margin-top:12%;
	display: -webkit-inline-box;
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position:relative;
	left:-100%;
}
.b-animate-go:hover .b-from-left{
	left:0;
}
span.m_4{
	font-size:14px;
	font-weight:400;
}
p.m_5 {
	margin: 2% auto 5%;
	width: 70%;
	color: #283A47;
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1.5em;
	text-align: center;
}
ul#filters {
	padding: 0px;
	text-align: center;
	width: 70%;
	padding: 1px 0;
	margin: 0 auto;
	background: #1e1e1e;
	border-radius: 2.3em;
	-webkit-border-radius: 2.3em;
	-moz-border-radius: 2.3em;
	-o-border-radius: 2.3em;
	-ms-border-radius: 2.3em;
}
/*--team--*/
.col_1_of_4:first-child {
	margin-left: 0;
}
.span_1_of_4 {
	width: 22.8%;
}
.col_1_of_4 {
	display: block;
	float: left;
	margin: 1% 0 1% 2.6%;
	background: #FFF;
}
.b-wrapper:hover {
	background: rgba(30, 30, 30, 0.85);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/* lt-ie9 */
.b-link-stripe:hover .b-line{
	visibility:visible;
}
.b-link-stripe .b-line1{
	left:0;
}
.b-link-stripe .b-line2{
	left:20%;
	transition-delay:0.1s !important;
	-moz-transition-delay:0.1s !important;
	-ms-transition-delay:0.1s !important;
	-o-transition-delay:0.1s !important;
	-webkit-transition-delay:0.1s !important;
}
.b-link-stripe .b-line3{
	left:40%;
	transition-delay:0.2s !important;
	-moz-transition-delay:0.2s !important;
	-ms-transition-delay:0.2s !important;
	-o-transition-delay:0.2s !important;
	-webkit-transition-delay:0.2s !important;
}
.b-link-stripe .b-line4{
	left:60%;
	transition-delay:0.3s !important;
	-moz-transition-delay:0.3s !important;
	-ms-transition-delay:0.3s !important;
	-o-transition-delay:0.3s !important;
	-webkit-transition-delay:0.3s !important;
}
.b-link-stripe .b-line5{
	left:80%;
	transition-delay:0.4s !important;
	-moz-transition-delay:0.4s !important;
	-ms-transition-delay:0.4s !important;
	-o-transition-delay:0.4s !important;
	-webkit-transition-delay:0.4s !important;
}
.b-link-stripe:hover .b-line{
	opacity:1;
}
#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
#filters li {
		display: -webkit-inline-box;
	}
#filters li span {
    font-family: 'gandhi_sansregular';
	display: block;
	padding: 17px 50px;
	text-decoration: none;
	color: #e55353;
	cursor: pointer;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	background:#1e1e1e;
	margin: 0;
	border-radius: 2.3em;
	-webkit-border-radius: 2.3em;
	-moz-border-radius: 2.3em;
	-o-border-radius: 2.3em;
	-ms-border-radius: 2.3em;
	}
#filters li span.active, #filters li span:hover {
	background: #434043;
	color: #ffffff;
	border-radius: 2.3em;
	-webkit-border-radius: 2.3em;
	-moz-border-radius: 2.3em;
	-o-border-radius: 2.3em;
	-ms-border-radius: 2.3em;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
 #portfoliolist .portfolio {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width: 32%;
		display:none;
		float:left;
		overflow:hidden;
		margin: 0 1% 1% 0;
	}
div#portfoliolist {
		padding: 40px 0px;
}	
.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		cursor:pointer;
	}
.portfolio img {
		max-width:100%;
		/*--position: relative;--*/
		transition: all 300ms!important;
		-webkit-transition: all 300ms!important;
		-moz-transition: all 300ms!important;
	}
.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
	}
.portfolio .label-bg {
			background: #22B4B8;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			
.portfolio .text-category {
				display:block;
				font-size:9px;
				font-size: 12px;
				text-transform:uppercase;
			}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
   }
.row:after,
.clearfix:after {
  clear: both;
   }
.row,
.clearfix {
  zoom: 1;
   }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*---------------*/
.b-from-left ul {
	padding: 0;
	margin-top: 25%;
}
.b-from-left ul li{
	list-style:none;
	display:inline-block;
	margin:0 10px;
}	
/*--portfolio-ends--*/

